header {
  background: $header-background;
  @include display(flex);
  @include justifyContent(center);
  @include alignItems(center);
  h1 {
      font-family: "open sans";
      color: $white;
      font-weight: 700;
      font-size: 24px;
  }
}
